@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 400px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 4px 16px;
  width: 300px;
}


/* SOLUTION */

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 10px;

}

.left-links {
  display: flex;
  gap: 10px;
}

.left-links a{
  color: grey;
}

.right-links {
  display: flex;
  gap: 10px;
}

.right-links a{
  color: grey;
}


.footer {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 10px;
}

.content{
  align-self: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
  
}

.buttons button {
  padding: 5px;
  font-size: 10px;
}

.input {
  display: flex;
  justify-content: center;

}

ul {
    margin: 0;          /* Supprime les marges externes */
    padding: 0;         /* Supprime l'indentation interne */
}


body {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

* {
    list-style: none;
    text-decoration: none;
}